* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: blanchedalmond;
  padding: 20px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  border: solid black 2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

input,
button {
  outline: none;
  border: none;
  font-family: cursive;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  &:hover {
    background-color: rgb(240, 233, 222);
    color: black;
  }
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

#task-list {
  max-height: 200px; /* Set the maximum height as needed */
  overflow-y: auto;
  padding: 0; /* Remove default padding to avoid unnecessary space */
}
#task-list::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

#task-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

#task-list::-webkit-scrollbar-track {
  background: transparent;
  /* background-color: #f2f2f2; Color of the track */
}

.task-item {
  max-width: 260px;
  height: 25px;
  margin: 5px 0;
  /* background-color: salmon; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0,0.2); */
  cursor: pointer;
  padding-left: 10px;
  padding-top: 3px;
  animation: animateIn 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  /* &:hover{
        background-color: wheat;
    } */
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.completed {
  text-decoration: line-through;
  /* background-color: chartreuse; */
}
